body
    
        {
            height: 400px;
            background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%)
        } 
       .main
        {
            background-color: white;
            width: 300px;
            height: 80vh;
            margin-top: 65px;
            border-radius: 5px;
            
          }
       .username
       {
           text-align: left;
           margin-top: 80px;
           width: 5px;
           margin-right: 250px;
           border: none;
           height: px;
           
           
       }
       .user
       {
           float: left;
       }
       .username2
       {
           width:100px;
           float: left;

       }
       
       .password
       {
           text-align: left;
           width: 5px;
           margin-right:250px ;
           margin-top: 20px;
           border-color: white;
       }
       .password2
       {
           width: 200px;
       }
       .forgot
       {
           margin-left:230px 
           
       }
       .button
       {
           width: 200px;
           background:linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
           cursor:pointer;
           height:30px;
           border-radius: 8px;
       }
        .fb
        {
            margin-right: 120px;
            background:#3366cc;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            
            
        }  
        .twitter
        {
            margin-left:130 px;
            background:#66ccff ;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-top:-30px;
        
        }
        .gmail
        {
            margin-left:120px;
            background:rgb(218, 5, 5) ;
            color:white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-top:-30px
        }

        
